.section-about {
  background-color: #f7f7f7;
  line-height: 1.7rem;
}

.section-about > .container > .row:not(:last-child) {
  margin-bottom: 5rem;
}

.section-about > .container {
  color: #666666;
}

.container > .title {
  font-size: 2.7rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
  visibility: hidden;
}

.container > .title.start {
  visibility: visible;
  animation: leftIn 0.75s ease-out;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: leftIn;
}

.profile-pic {
  visibility: hidden;
}

.profile-pic.start {
  visibility: visible;
  animation: bottomIn 0.75s ease-out;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: bottomIn;
}

.profile-pic > img {
  height: 20rem;
  margin-bottom: 1rem;
}

.profile-content-1 {
  visibility: hidden;
}

.profile-content-1.start {
  visibility: visible;
  margin-right: 5rem;
  margin-left: 5rem;
  animation: topIn 0.75s ease-out;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: topIn;
}

.col > h4 {
  text-transform: uppercase;
  font-size: 14pt;
  text-align: center;
}

col > .paragraph {
  font-size: 12pt;
}

.row {
  margin: 0 auto;
}

.profile-content-2 {
  visibility: hidden;
}

.profile-content-2.start {
  visibility: visible;
  animation: bottomIn 0.75s ease-out;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: bottomIn;
}

.profile-content-2 > h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 40px;
}

.row.icons {
  margin-top: 2rem;
}

.icon-card {
  text-align: center;
}

.icon-card i {
  color: #17a2b8;
  transition: all 0.3s;
}

.icon-card i:hover {
  transform: scale(1.2);
}

.icon-card h4 {
  font-size: 1.3rem;
}

.service-icon {
  background-color: #fff;
  color: #17a2b8;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

span {
  font-size: 5rem;
}
