.canvas {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    rgba(34, 118, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  justify-content: center;
}

span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 325;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: -60px;
  padding-left: 10px;
}
