section {
  padding: 70px 0 70px 0;
  color: #616161;
  line-height: 11pt;
  position: relative;
}

section:nth-of-type(1) {
  padding: 0 10px;
  color: #fff;
  height: calc(100vh + 53px);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    to right,
    #070099,
    #005adb,
    #0090e4,
    #00c0c5,
    #12eba0
  );
}

span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 325;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left: 10px;
}
