header {
  margin: 0 auto;
  text-align: center;
  padding-top: 300px;
}

header h1 {
  margin: 0;
  font-size: 4rem;
}

header p {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 30px;
}

header a {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  font-weight: 700;
  background-color: skyblue;
  border-color: skyblue;
  color: #fff;
  padding: 1.25rem 2.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;
}
