nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  text-align: left;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.nav-wrap {
  padding-top: 1rem;
  padding-left: 5%;
}

nav .nav-wrap > a {
  padding: 15px;
  font-size: 16pt;
  cursor: pointer;
  transition: color 0.5s;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

nav .nav-wrap > a:hover {
  color: #12eba0;
}

nav.fixed {
  top: 0;
  bottom: inherit;
  left: 0;
  position: fixed;
}
