nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  text-align: left;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

nav .link-wrap > a {
  padding: 12px 20px;
  font-size: 16pt;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.5s;
  text-transform: uppercase;
}

.page-link:hover {
  color: #12eba0;
}
