.popup:target {
  opacity: 1;
  display: block;
  visibility: visible;
}

.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.3s;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.1s;
}

.popup-left {
  width: 70%;
  display: table-cell;
}

.popup-image {
  display: block;
  width: 100%;
}

.popup-right {
  width: 30%;
  vertical-align: middle;
  display: table-cell;
  padding: 1rem 3rem;
}

.popup-close:link,
.popup-close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}

.popup-close:hover {
  color: rgba(185, 19, 19, 0.911);
}
