.close > span {
  font-size: 30px;
}

.modal-content {
  border-radius: 0 !important;
}

.modal-body > .demo {
  width: 100%;
}

.modal-footer {
  text-align: left;
  min-height: 200px;
  justify-content: center !important;
  align-items: center !important;
}

.visit-btn {
  display: none;
}

.visit-btn.has-visit {
  border-right: #fff !important;
  display: inline-block;
}

.source-btn.has-visit {
  border-left: #fff !important;
}
